<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crear Pedido Admin</title>

    <!-- Custom fonts for this template -->
    <link href="../../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column vh-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{> topbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Form name -->
                    <div class="card shadow border-left-dark mb-4 ml-3">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-dark"><span>Agregar Pedido</span></h4>
                        </div>
                        <form id="form" novalidate>
                            <div class="card-body d-flex justify-content-center">
                                <div class="w-75 p-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="create_order_package_id" class="form-label">Paquete</label>
                                                <select class="custom-select border-left-dark"
                                                    id="create_order_package_id" required>
                                                    <option selected disabled value="">Seleccione el paquete</option>
                                                    <option value="1">Piedra del peñól</option>
                                                    <option value="2">El balcón del Huila</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Por favor seleccione un paquete.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="create_order_beneficiaries"
                                                    class="form-label">Beneficiarios</label>
                                                <div class="input-group">
                                                    <input type="text" id="create_order_beneficiaries"
                                                        class="form-control border-left-dark"
                                                        placeholder="Cantidad de beneficiarios" required>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text rounded-right"><i
                                                                class="fas fa-users"></i></span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Por favor ingrese unicamente números.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="row">
                                            <div class="col">
                                                <label for="create_order_costumer_id" class="form-label">Persona
                                                    titular</label>
                                            </div>
                                            <div class="col d-flex justify-content-end align-items-end">
                                                <div class="form-text d-flex justify-content-end">
                                                    <span class="font-italic" style="font-size: 15px;">¿El titular no
                                                        tiene una cuenta? <a class="text-decoration-none" href="/">
                                                            Crear cuenta.</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <select id="create_order_costumer_id" class="custom-select border-left-dark"
                                                required>
                                                <option selected disabled value="">Por favor busque el número del
                                                    documento de identidad de la persona titular.</option>
                                                <option value="1">1023626332 - Esteban Muñoz Benítez</option>
                                                <option value="2">1000442208 - Juan Pablo Muñoz </option>
                                            </select>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text rounded-right"><i
                                                        class="fas fa-user"></i></span>
                                            </div>
                                            <div class="invalid-feedback">
                                                Por favor seleccione los datos de la persona titular o cree una cuenta
                                                para el mismo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" id="cancelButton" class="btn btn-danger">Cancelar</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" id="saveButton" class="btn btn-success">Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{> footer}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{> logoutModal}}

    <!-- Bootstrap core JavaScript-->
    <script src="../../../vendor/jquery/jquery.min.js"></script>
    <script src="../../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../../js/sb-admin-2.min.js"></script>

    <!--SweetAlert JavaScript-->
    <script src="../../../js/sweetalert2.all.min.js"></script>

    <script src="../../../js/orders/create.js"></script>
</body>


</html>