<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agregar Empleado</title>

    <!-- Custom fonts for this template -->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column vh-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{> topbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Form name -->
                    <div class="card shadow border-left-dark mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-dark"><span>Agregar Empleado</span></h4>
                        </div>
                        <form id="form" class="needs-validation" novalidate>
                            <div class=" card-body d-flex justify-content-center">
                                <div class="w-75 p-2">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="fas fa-user-circle mb-4"
                                            style="font-size:60px;text-shadow:2px 2px 4px #000000;"></i>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="name" class="form-label">Nombre</label>
                                            <div class="input-group">
                                                <input type="text" name="name" id="name"
                                                    class="form-control border-left-dark rounded-right"
                                                    placeholder="Digite su nombre" required>
                                                <div class="invalid-feedback">
                                                    No se permiten nùmeros ni caracteres especiales.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-4">
                                            <label for="lastName" class="form-label">Apellido</label>
                                            <div class="input-group">
                                                <input type="text" name="lastName" id="lastName"
                                                    class="form-control border-left-dark rounded-right"
                                                    placeholder="Digite su apellido" required>
                                                <div class="invalid-feedback">
                                                    No se permiten nùmeros ni caracteres especiales.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="document" class="form-label">Documento</label>
                                            <div class="input-group">
                                                <input type="num" name="document" id="document"
                                                    class="form-control border-left-dark"
                                                    placeholder="Digite su documento" required>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text rounded-right" id="basic-addon1"><i
                                                            class="fas fa-id-card"></i></span>
                                                </div>
                                                <div class="invalid-feedback">
                                                    No se permiten letras ni caracteres especiales.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-4">
                                            <label for="phone" class="form-label">Teléfono</label>
                                            <div class="input-group">
                                                <input type="number" name="phone" id="phone"
                                                    class="form-control border-left-dark"
                                                    placeholder="Digite su número de teléfono" required>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text rounded-right" id="basic-addon1"><i
                                                            class="fas fa-phone"></i></span>
                                                </div>
                                                <div class="invalid-feedback">
                                                    No se permiten letras ni caracteres especiales.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-4">
                                            <label for="email" class="form-label">Correo</label>
                                            <div class="input-group">
                                                <input type="email" name="email" id="email"
                                                    class="form-control border-left-dark" placeholder="Digite su correo"
                                                    required>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text rounded-right" id="basic-addon1"><i
                                                            class="fas fa-at"></i></span>
                                                </div>
                                                <div class="invalid-feedback">
                                                    Correo invalido.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="password" class="form-label">Contraseña</label>
                                                <div class="input-group">
                                                    <input type="password" name="password" id="password"
                                                        class="form-control border-left-dark"
                                                        placeholder="Digite su contraseña" required>
                                                    <div class="input-group-prepend">
                                                        <button id="show_password "
                                                            class="btn btn-secondary rounded-right" type="button"
                                                            onclick="ShowPassword()"> <span
                                                                class="fa fa-eye-slash icon "></span> </button>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        La contraseña debe de tener mínimo 8 caracteres.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="passwordConfim" class="form-label">Confirmar
                                                    Contraseña</label>
                                                <div class="input-group">
                                                    <input type="password" name="passwordConfirm" id="passwordConfirm"
                                                        class="form-control border-left-dark"
                                                        placeholder="Confirme su contraseña" required>
                                                    <div class="input-group-prepend">
                                                        <button id="show_passwordc"
                                                            class="btn btn-secondary rounded-right" type="button"
                                                            onclick="ShowPasswordConfirm()"> <span
                                                                class="fa fa-eye-slash icon2 "></span> </button>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        La contraseña y a confirmaciòn de la contraseña no coinciden.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" id="cancelButton" class="btn btn-danger">Cancelar</button>
                                    </div>
                                    <div class="col">
                                        <button type="submit" id="saveButton" class="btn btn-success">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{> footer}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{> logoutModal}}

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

    <!--SweetAlert JavaScript-->
    <script src="../../js/sweetalert2.all.min.js"></script>

    <script src="../../../js/employeesValidation.js"></script>
</body>


</html>