<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>Agregar Rol-Turistik</title>
    
        <!-- Custom fonts for this template-->
        <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="../css/sb-admin-2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/site.css">

        <!--SweetAlert-->
        <link rel="stylesheet" href="../css/sweetalert2.min.css">


</head>
    

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column vh-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{> topbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow border-left-dark mb-4 ">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-dark"><span>Modificar Rol y Permisos</span></h4>
                        </div>
                        <form method="get">
                            <div class="container d-flex justify-content-start p-5">
                                <div class="form group col-5 mr-3">
                                    <label for="RolName" class="form-label">Nombre</label>
                                    <div class="input-group">
                                        <input type="text" id="RolName" class="form-control border-left-dark rounded-right"
                                        value="Administrador" onkeypress="return soloLetras(event)">
                                    </div>
                                </div>
                                <div class="form group col-3 mr-3">
                                    <label for="RolStatus" class="form-label">Estado</label>
                                    <div class="input-group">
                                        <select class="custom-select border-left-dark" id="RolStatus">
                                            <option value="1">Habilitado</option>
                                            <option value="0">Deshabilitado</option>
                                        </select>  
                                    </div>
                                </div>
                            </div>
                            <div class="container mb-4 p-5">
                                <h3 class="text-dark ml-2 mb-3">Permisos</h3>
                                <div class="form group col-7 d-flex justify-content-start">
                                    <div class="col-6">
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Schedule">
                                            <label class="custom-control-label" for="Schedule">Agenda</label>
                                        </div>
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Users">
                                            <label class="custom-control-label" for="Users">Usuarios</label>
                                        </div>
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Packages">
                                            <label class="custom-control-label" for="Packages">Paquetes</label>
                                        </div>
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Orders">
                                            <label class="custom-control-label" for="Orders">Pedidos</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Sales">
                                            <label class="custom-control-label" for="Sales">Ventas</label>
                                        </div>
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Roles">
                                            <label class="custom-control-label" for="Roles">Roles</label>
                                        </div>
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Employees">
                                            <label class="custom-control-label" for="Employees">Empleados</label>
                                        </div>
                                        <div class="custom-control custom-switch col-6 mt-3">
                                            <input type="checkbox" class="custom-control-input" id="Costumers">
                                            <label class="custom-control-label" for="Costumers">Clientes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" id="btnCancelarRol" class="btn btn-danger">Cancelar</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" id="btnUpdateRol" class="btn btn-success">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{> footer}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../login.html">Logout</a>
                </div>
            </div>
        </div>
    </div> --}}
    {{> logoutModal}}

  
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/chart.js/Chart.min.js"></script>
 
    <!--SweetAlert JavaScript-->
    <script src="../js/sweetalert2.all.min.js"></script>

    <!--Validate Form CreateRol-->
    <script src="./js/validateRol.js"></script>
</body>

</html>