<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crear Usuario</title>

    <!-- Custom fonts for this template -->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column vh-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{> topbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Form name -->
                    <div class="card shadow border-left-dark mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-dark"><span>Agregar Usuario</span></h4>
                        </div>
                        <form id="form" class="needs-validation" novalidate>
                            <div class=" card-body d-flex justify-content-center">
                                <div class="w-75 p-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="nameNewUser" class="form-label">Nombre</label>
                                                <div class="input-group">
                                                    <input type="text" id="nameNewUser"
                                                        class="form-control border-left-dark rounded-right" placeholder="Digite su nombre"
                                                        required>
                                                    <div class="invalid-feedback">
                                                        Este campo no permite números ni caracteres especiales.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="identificationNewUser" class="form-label">Documento</label>
                                                <div class="input-group">
                                                    <input type="num" id="identificationNewUser"
                                                        class="form-control border-left-dark" placeholder="Digite su documento"
                                                        required>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text rounded-right"
                                                                id="basic-addon1"><i class="fas fa-id-card"></i></span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            No se permiten letras ni caracteres especiales.
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="emailNewUser" class="form-label">Correo</label>
                                                <div class="input-group">
                                                    <input type="email" id="emailNewUser"
                                                        class="form-control border-left-dark"
                                                        placeholder="Digite su correo" required>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text rounded-right"
                                                            id="basic-addon1"><i class="fas fa-at"></i></span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Email invalido.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordNewUser" class="form-label">Contraseña</label>
                                                <div class="input-group">
                                                    <input type="password" id="passwordNewUser"
                                                        class="form-control border-left-dark"
                                                        placeholder="Digite su contraseña" required>
                                                    <div class="input-group-prepend">
                                                        <button id="show_password" class="btn btn-dark rounded-right"
                                                            type="button" onclick="mostrarPassword()"> <span
                                                                class="fa fa-eye-slash icon "></span> </button>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        La contraseña debe de tener mínimo 8 caracteres.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="lastNameNewUser" class="form-label">Apellido</label>
                                                <div class="input-group">
                                                    <input type="text" id="lastNameNewUser"
                                                        class="form-control border-left-dark rounded-right" placeholder="Digite su apellido"
                                                        required>
                                                        <div class="invalid-feedback">
                                                            Este campo no permite números ni caracteres especiales.
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="phoneNewUser" class="form-label">Teléfono</label>
                                                <div class="input-group">
                                                    <input type="number" id="phoneNewUser"
                                                        class="form-control border-left-dark" placeholder="Digite su número de teléfono"
                                                        required>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text rounded-right"
                                                                id="basic-addon1"><i class="fas fa-phone"></i></span>
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            No se permiten letras ni caracteres especiales.
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <label for="roleNewUser" class="form-label">Rol</label>
                                                    <select class="custom-select border-left-dark" id="roleNewUser" required
                                                        onchange="mostrarForm()">
                                                        <option disabled selected value="">Seleccione</option>
                                                        <option value="1">Administrador</option>
                                                        <option value="2">Cliente</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Por favor seleccione una opción.
                                                    </div>
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="statusNewUser" class="form-label">Estado</label>
                                                    <select class="custom-select border-left-dark" id="statusNewUser"
                                                        required>
                                                        <option disabled selected value="">Seleccione</option>
                                                        <option value="1">Habilitado</option>
                                                        <option value="2">Inhabilitado</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Por favor seleccione una opción.
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordConfirmNewUser" class="form-label">Confirmar Contraseña</label>
                                                <div class="input-group">
                                                    <input type="password" id="passwordConfirmNewUser"
                                                        class="form-control border-left-dark"
                                                        placeholder="Confirme su contraseña" required>
                                                    <div class="input-group-prepend">
                                                        <button id="show_passwordConfirm" class="btn btn-dark rounded-right"
                                                            type="button" onclick="mostrarPasswordConfirm()"> <span
                                                                class="fa fa-eye-slash icon2 "></span> </button>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Las contraseñas no coinciden.
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <div class="row" id="FormUserType">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="epsNewCostumer" class="form-label">EPS</label>
                                                <div class="input-group">
                                                    <input type="text" id="epsNewCostumer"
                                                        class="form-control border-left-dark rounded-right" placeholder="Digite su EPS"
                                                        required>
                                                    <div class="invalid-feedback">
                                                        Este campo no permite números ni caracteres especiales.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="birthDateNewcostumer" class="form-label">Fecha de nacimiento</label>
                                                <div class="input-group">
                                                    <input type="date" id="birthDateNewcostumer"
                                                        class="form-control border-left-dark rounded-right" placeholder="Digite su fecha de nacimiento"
                                                        required>
                                                    <div class="invalid-feedback">
                                                        Fecha invalida.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="addressNewCostumer" class="form-label">Dirección</label>
                                                <div class="input-group">
                                                    <input type="text" id="addressNewCostumer"
                                                        class="form-control border-left-dark rounded-right" placeholder="Digite su dirección"
                                                        required>
                                                    <div class="invalid-feedback">
                                                        No se permiten más de 20 caracteres.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="porfilePictureNewcostumer" class="form-label">Foto de perfil</label>
                                                <div class="input-group">
                                                    <input accept=".jpg,.png" type="file" id="porfilePictureNewcostumer"
                                                        class="form-control border-left-dark rounded-right" placeholder="Digite su fecha de nacimiento"
                                                        required onchange="validateporfilePictureNewcostumer()">
                                                    <div class="invalid-feedback">
                                                        Imágen necesaria.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                            
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" id="cancelButton" class="btn btn-danger">Cancelar</button>
                                    </div>
                                    <div class="col">
                                        <button type="submit" id="saveButton" class="btn btn-success">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{> footer}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{> logoutModal}}

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

    <!--SweetAlert JavaScript-->
    <script src="../../js/sweetalert2.all.min.js"></script>

    <script>
        //Form validation
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


        function mostrarForm() {
            let role = document.getElementById('roleNewUser').value

            if (role ==2 ){
                $('#FormUserType').show()
            }else{
                $('#FormUserType').hide()
            }
        }

        
        mostrarForm()

        const validateporfilePictureNewcostumer = () => {
            // Obtener nombre de archivo
            let archivo = document.getElementById("porfilePictureNewcostumer").value,
                // Obtener extensión del archivo
                extension = archivo.substring(archivo.lastIndexOf("."), archivo.length);
            // Si la extensión obtenida no está incluida en la lista de valores
            // del atributo "accept", mostrar un error.
            if (
                document.getElementById("porfilePictureNewcostumer").getAttribute("accept").split(",").indexOf(extension) < 0
            ) {
                Swal.fire(
                    {
                        title: "Error!",
                        text: "Archivo inválido. No se permite la extensión " + extension,
                        icon: "error",
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 2000,
                    }
                );
                document.getElementById("porfilePictureNewcostumer").value = ''
            }
        };
        
    </script>
    <script src="../../../js/usersValidation.js"></script>
</body>


</html>