<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crear Abono Admin</title>

    <!-- Custom fonts for this template -->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{> sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {{> topbar}}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Form name -->
                    <div class="card shadow border-left-dark mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-dark"><span>Agregar Abono</span></h4>
                        </div>
                        <form class="needs-validation" novalidate>
                            <div class=" card-body d-flex justify-content-center">
                                <div class="w-75 p-2">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="form-group">
                                                <label for="payment_amount" class="form-label">Monto</label>
                                                <div class="input-group">
                                                    <input type="text" id="payment_amount" class="form-control"
                                                        placeholder="Ingrese el monto a abonar" required>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text rounded-right"><i
                                                                class="fas fa-dollar-sign"></i></span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Por favor ingrese una cantidad valida.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="form-group">
                                                <label for="payment_img">Comprobante de pago</label>
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text rounded-left"><i
                                                                class="fas fa-file-archive"></i></span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="payment_img"
                                                            required>
                                                        <label class="custom-file-label" for="payment_img">Suba la
                                                            imagen del comprobante acá</label>
                                                    </div>
                                                </div>
                                                <div class="invalid-feedback">
                                                    Este campo no puede enviarse vacio.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" id="cancelButton" class="btn btn-danger">Cancelar</button>
                                    </div>
                                    <div class="col">
                                        <button type="submit" id="saveButton" class="btn btn-success">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{> footer}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {{> logoutModal}}

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

    <!--SweetAlert JavaScript-->
    <script src="../../js/sweetalert2.all.min.js"></script>

    <script>
        //Form validation
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        //SweetAlert2 alerts
        $('#cancelButton').click(() => {
            Swal.fire({
                title: 'Cancelado!',
                text: 'Has cancelado el proceso.',
                icon: 'error',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 1200
            })
        })

        /*$('#saveButton').click(() => {
            Swal.fire({
                title: 'Tarea exitosa!',
                text: 'Se ha agregado el abono.',
                icon: 'success',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 1200
            })
        })*/
    </script>
</body>


</html>